@import url("/main.css");

main {
    display: flex;
    justify-content: space-between;
    background-image: url("/Images/mystery-bg.png");
    background-size: cover;
    background-position: center;
}

.prog-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code-container {
    margin-bottom: 16px;
    width: 45vw;
    div.top-bar {
        height: 30px;
        width: 100%;
        margin: 0;
        color: white;
        padding-left: 5px;
        background-color: var(--primary);

        display: flex;
        justify-content: space-between;

        button {
            background-color: #d4d0c8;
            border: 2px solid #c0c0c0;
            border-top-color: #ffffff;
            border-left-color: #ffffff;
            border-right-color: #505050;
            border-bottom-color: #505050;
            margin: 4px;

            i {
                color: #006d1b;
            }
        }
    }
}

.console-container {
    height: 25vh;
    width: 45vw;

    p {
        height: 30px;
        width: 100%;
        margin: 0;
        color: white;
        padding-left: 5px;
        background-color: var(--primary);

        display: flex;
        justify-content: space-between;
    }

    #console {
        height: calc(25vh - 30px);
        width: 100%;
        background-color: black;
        border-radius: 0;
        border: 1px solid #808080;
        padding: 4px;
        overflow-y: scroll;

        color: white;
    }
}

.code-container {
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.story-container {
    background-image: url("/Images/mystery-text-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 30%;
    height: 90vh;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    h3 {
        margin-top: 0;
        margin-bottom: 8px;
    }
    p {
        font-weight: 600;
        line-height: 1.2rem;
    }

    a#home-button {
        transition: box-shadow 400ms;
        position: absolute;
        top: 10%;
        right: 10%;
        width: 48px;
        height: 48px;
        background-image: url("/Images/home.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;

        &:hover {
            transition: box-shadow 400ms;
            box-shadow: black 0 0 30px;
        }
    }

    code {
        color: var(--primary-light);
    }

    > button {
        all: unset;

        cursor: pointer;
        transition: box-shadow 400ms;
        display: flex;
        position: absolute;
        bottom: 10%;
        right: 10%;
        width: 48px;
        height: 48px;
        font-size: 48px;
        justify-content: center;
        align-items: center;
        color: var(--sepia-light);
        border-radius: 24px;

        &:hover {
            transition: box-shadow 400ms;
            box-shadow: black 0 0 30px;
        }
    }

    #hint-popup {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 10%;
        bottom: calc(10% + 50px);
        width: 500px;
        height: 200px;
        background-color: var(--sepia-dark);
        color: white;
        border-radius: 8px;
        box-shadow: black 2px 2px 16px;
        padding: 8px;

        span {
            padding: 8px;
        }

        button {
            all: unset;
            cursor: pointer;
            text-align: center;
            box-shadow: 1px 1px 4px black;
            border-radius: 4px;
            width: 100px;
            height: 30px;
            background-color: var(--primary-light);

            &#use-magnifying-glass {
                width: 220px;
            }
        }
    }
}

#relevant-docs-container {
    h4 {
        margin: 8px 0;
    }

    #relevant-docs {
        display: flex;
        flex-direction: row;
        gap: 8px;

        a {
            text-decoration: underline;
            color: var(--primary);
            font-size: larger;
            font-weight: 700;
            width: fit-content;

            &:hover {
                color: var(--primary-light);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .code-container {
        width: 80vw;
        height: 300px;

        textarea {
            height: 260px;
        }
    }
}

/* scrollbar overwrite */

.code-container pre,
.console-container #console {
    &::-webkit-scrollbar {
        width: 17px;
        height: 17px;
    }

    &::-webkit-scrollbar-track {
        background-color: #d4d0c8;
        border-left: 1px solid #808080;
        border-top: 1px solid #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #878787;
        border: 2px solid #c0c0c0;
        border-top-color: #ffffff;
        border-left-color: #ffffff;
        border-right-color: #505050;
        border-bottom-color: #505050;
        cursor: pointer;
    }

    &::-webkit-scrollbar-corner {
        background-color: #d4d0c8;
    }

    &::-webkit-scrollbar-button {
        background-color: #d4d0c8;
        border: 2px solid #c0c0c0;
        border-top-color: #ffffff;
        border-left-color: #ffffff;
        border-right-color: #505050;
        border-bottom-color: #505050;
        height: 17px;
        width: 17px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-button:active {
        border-top-color: #505050;
        border-left-color: #505050;
        border-right-color: #ffffff;
        border-bottom-color: #ffffff;
        background-color: #c0c0c0;
    }
}

#popup {
    animation: scale-in 400ms ease-out forwards;
    color: white;
    display: none;
    position: fixed;
    z-index: 10;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.687);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    transition: box-shadow 400ms;
    box-shadow: rgba(0, 0, 0, 0.687) 0 0 10px;

    &:hover {
        transition: box-shadow 400ms;

        box-shadow: rgba(0, 0, 0, 0.687) 0 0 40px;
    }

    #popup-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        width: 70%;

        p {
            font-size: 1.3rem;
        }

        button {
            transition: background-color 400ms;

            margin: auto;
            width: 50%;
            height: 50px;
            cursor: pointer;
            background-color: white;
            border: None;
            font-size: 1.2rem;
            font-weight: 600;
            border-radius: 8px;

            &:hover {
                transition: background-color 400ms;
                background-color: #c0c0c0;
            }
        }
    }
}

@keyframes scale-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
