@import url("/main.css");

.code-container {
    width: 60vw;
    height: 600px;
    p {
        height: 30px;
        width: 100%;
        margin: 0;
        color: white;
        padding-left: 5px;
        background-color: #1700d1;
    }

    textarea {
        background-color: #c0c0c0;
        width: 100%;
        height: 560px;
        overflow: scroll;
        resize: none;
        border-radius: 0;
       

        &::-webkit-scrollbar {
            width: 17px;
            height: 17px;
        }

        &::-webkit-scrollbar-track {
            background-color: #d4d0c8;
            border-left: 1px solid #808080; 
            border-top: 1px solid #ffffff;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #878787;
            border: 2px solid #c0c0c0; 
            border-top-color: #ffffff; 
            border-left-color: #ffffff; 
            border-right-color: #505050;
            border-bottom-color: #505050;
            cursor: pointer;
        }

        &::-webkit-scrollbar-corner {
            background-color: #d4d0c8;
        }

        &::-webkit-scrollbar-button {
            background-color: #d4d0c8;
            border: 2px solid #c0c0c0;
            border-top-color: #ffffff;
            border-left-color: #ffffff;
            border-right-color: #505050;
            border-bottom-color: #505050;
            height: 17px;
            width: 17px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-button:active {
            border-top-color: #505050;
            border-left-color: #505050;
            border-right-color: #ffffff;
            border-bottom-color: #ffffff;
            background-color: #c0c0c0;
        }
    }
}
