@import url('/var.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Header styles */
header {
    background-color: #8b0000;
    padding: 5px 0;
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 2.7rem;
}

header li a {
    color: white;
}
header li a:hover {
    color: #c4c4c4;
    transition: all 0.6s ease;
    text-shadow: -1px -1px black, 1px 1px white;
}
body{
    background: #000;
    background-image: url('/Images/documentation-bg.png');
}

/* Main content */
#container {
    background-image: url('/Images/mystery-text-bg.png');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;

    height: 90vh;
    margin-left: 30vw;
    margin-right: 30vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-size: 1.5rem;
    color: white;
    p {
        margin-left: 75px;
        margin-right: 75px;
        line-height: 1.5;
        color: black;
    }
}
.title {
    color: var(--text-light);
    font-size: 2rem;
    padding-bottom: 6.5rem;
    font-weight: bolder;}

/* Credits link */
.credits-link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.7em;
    color: white;
}
.credits-link:hover {
    text-decoration: underline;
    color: #8b0000;
}
