@import url("/var.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#container {
    position: relative; /* Important to anchor absolutely positioned elements inside */
    background-image: url('./Images/Home-Page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: var(--font);
}

/* Header styles */
header {
    background-color: #8b0000;
    padding: 7px 0;
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 2.7rem;
}

header li a {
    color: white;
}
header li a:hover {
    color: #c4c4c4;
    transition: all 0.6s ease;
    text-shadow: -1px -1px black, 1px 1px white;
}

/* Main content */
main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameName {
    color: var(--text-light);
    font-size: 4.5rem;
}

/* Start Button */
.start-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 12px 20px;
    background-color: #d3d3d3;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    transition: box-shadow 0.1s ease;
}

.start-btn:active {
    box-shadow: none;
    bottom: 19px;
}

/* Credits link */
.credits-link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.7em;
    color: white;
}
.credits-link:hover {
    text-decoration: underline;
    color: #8b0000;
}
